
html, body, #root {
  height: 100%;
  margin: 0;
  
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to right, #00f2fe, #4facfe) !important;
}

.main-content {
  flex: 1;
}

.btn-primary {
  background-color: #0099cc;
  border-color: #0099cc;
}
.btn-primary:hover {
  background-color: #007aa6;
  border-color: #007aa6;
}

.text-primary {
  color: #004157 !important;
}


.card.bg-light {
  background-color: #f9fbfd !important;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.15);
  border-color: #86b7fe;
}

button.btn-primary {
  background-image: linear-gradient(to right, #4facfe, #00f2fe);
  border: none;
  transition: 0.3s ease-in-out;
}

button.btn-primary:hover {
  background-image: linear-gradient(to right, #00f2fe, #4facfe);
  box-shadow: 0 4px 12px rgba(0, 242, 254, 0.4);
}

/* Add this in a CSS file */
.table td, .table th {
  vertical-align: middle;
}
.table img {
  object-fit: cover;
}
